@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #BF843B, #F2B950 );
}

main {
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #684720;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #502c24;
    color: #733E32;
}

h2 {
    color: #BF843B;
}

p {
    text-align: justify;
}